<!DOCTYPE html>
<html ng-app="AppModule">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script>
        var app = angular.module("AppModule", []);
        app.controller("c1", f1);
        function f1($scope, $http) {
            $scope.userId = "";
            $scope.users = [];
            $scope.postdetails = [];
            $scope.loadusers = function () {
                $http.get("https://jsonplaceholder.typicode.com/users").then(function(response){
                    $scope.users = response.data;
                })
            }
            $scope.loadposts = function () {
                $http.get("https://jsonplaceholder.typicode.com/posts?userId=" + $scope.userId).then(function (response) {
                    console.log(response.data);
                    $scope.postdetails = response.data;
                })
            }
        }
    </script>
</head>
<body ng-controller="c1">
    <button ng-click="loadusers()">Load</button>
    <select ng-change="loadposts()" ng-model="userId" >
        <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
    </select>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Title</th>
        </tr>
        <tr ng-repeat="p in postdetails">

            <td>
                {{p.id}}
            </td>
            <td>
                {{p.title}}
            </td>
        </tr>
    </table>
</body>
</html>
