<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.js"></script>

    <script src="app2.js"></script>
</head>
<body ng-controller="myctrl">
 <label>Search Box</label>
    <input type="text" ng-model="searchKeyword.name" />
    <br/>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Place</th>
        </tr>
        <tr ng-repeat="d in more | filter: searchKeyword ">
            <td>{{d.empid}}</td>
            <td>{{d.name}}</td>
            <td>{{d.place}}</td>
        </tr>
    </table>
</body>
</html>
